<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Photo Popper", root_path ,class: "navbar-brand"%>
    </div>
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li id="icons"><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
        <li id="icons"><%= link_to ( '<i class="fas fa-user-circle"></i>' + truncate(current_user.email, length: 20)), edit_user_registration_path ,
                        title: 'Edit Profile' %></li>
      <% end %>
      <% if !user_signed_in? %>
        <li><%= link_to "SignUp", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
